*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --container: 112rem;
  --m-auto: 0 auto;
  --white: #fff;
  --black: #333;
  --gray: gray;
}
html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  max-width: var(--container);
  width: calc(100% - 2rem);
  padding: 0 1rem;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
}
#submit {
  background: rgb(102, 116, 245);
  padding: 1rem 2rem;
  display: inline-block;
  color: var(--white);
  margin-top: 1rem;
}
#extractor {
  margin-top: 3rem;
  height: 25rem;
  resize: none;
  outline: none;
  border: 0.1rem solid var(--gray);
  padding: 0.4rem;
}
div {
  font-size: 1.5rem;
}
ul,
ol,
li {
  list-style-type: none;
}
li {
  padding: 0.5rem 0;
  font-size: 1.6rem;
}
.output-container {
  background: var(--white);
  box-shadow: 0 0 0.3rem var(--gray);
  padding: 1rem;
  margin: 2rem 0;
}
h3{
    font-size: 2rem;
    font-weight: bold;
}
