*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --container: 112rem;
  --m-auto: 0 auto;
  --white: #fff;
  --black: #333;
  --gray: gray;
}
html,
body {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
.container {
  max-width: var(--container);
  width: calc(100% - 2rem);
  padding: 0 1rem;
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
}
#submit {
  background: rgb(102, 116, 245);
  padding: 1rem 2rem;
  display: inline-block;
  color: var(--white);
  margin-top: 1rem;
}
#extractor {
  height: 25rem;
  resize: none;
  outline: none;
  border: 0.1rem solid var(--gray);
  padding: 0.4rem;
}
