*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    text-align: center;
}
h2{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.btn{
    font-size: 1.6rem;
    padding: 0.6rem 1.4rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    color: white;
    font-weight: 600;
    background-image: -o-linear-gradient(7deg,#8a78ec 50%,#526ed6);
    background-image: linear-gradient(83deg,#8a78ec 50%,#526ed6);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.ripple{
    position: absolute;
    background-color: rgb(255, 255, 255);
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    pointer-events: none;
    border-radius: 50%;
    -webkit-animation: rippleEffect 1s linear infinite;
            animation: rippleEffect 1s linear infinite;
}
@-webkit-keyframes rippleEffect {
    0%{
        width: 0;
        height: 0;
        opacity: 0.5;
    }    
    100%{
        width: 20rem;
        height: 20rem;
        opacity: 0;
    }
}
@keyframes rippleEffect {
    0%{
        width: 0;
        height: 0;
        opacity: 0.5;
    }    
    100%{
        width: 20rem;
        height: 20rem;
        opacity: 0;
    }
}