*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.btn{
    font-size: 1rem;
    padding: 0.4rem 1.4rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(to right,#3e1ef3 50%,#472ce6);
    cursor: pointer;
}