@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;800&display=swap');
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}
/* container css start */
.container{
    width: 100%;
    height: 100vh;
    background: rgb(96, 94, 243);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.timer-box{
    display: flex;
    gap: 3rem;
}
.timer-box *{
    font-size: 3rem;
    text-shadow: 0 0 0.2rem rgb(247, 247, 247);
}
/* container css end */












