@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Poppins', sans-serif;
  /* background: #002240;
  background: #0e4ea3; */
}
:root {
  --primary: #002240;
  --white: white;
}
/*ace*/
.ace_editor {
  font-size: 14px !important;
}
.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}
.code-input {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  gap: 1rem;
}
h2{
    margin: 1rem 0;
}
#html,
#css,
#js {
  height: 10rem;
}
#html {
  width: 100%;
}

#css {
  width: 100%;
}
#js {
  width: 100%;
}

#result {
  margin-top: 2rem;
  width: 100%;
  height: 100%;
  background: var(--white);
  border: none;
}
.ace_content {
  width: 100% !important;
}
.ace-dracula {
  background-color: #162447 !important;
}

.ace-dracula .ace_gutter {
  background: #162447 !important;
}

.ace_scrollbar-h {
  scrollbar-color: #1f4068 #162447 !important;
  scrollbar-width: thin !important;
  cursor: pointer;
}

.ace_scrollbar-v {
  scrollbar-color: #1f4068 #162447 !important;
  scrollbar-width: thin !important;
  cursor: pointer;
}

.ace_scrollbar-h::-webkit-scrollbar {
  border: none;
  height: 0.6em;
}

.ace_scrollbar-h::-webkit-scrollbar-thumb {
  background: #1f4068;
  border: none;
}

.ace_scrollbar-h::-webkit-scrollbar-thumb:hover {
  background: #173458;
}

.ace_scrollbar-h::-webkit-scrollbar-track {
  background: transparent;
}

.ace_scrollbar-v::-webkit-scrollbar {
  border: none;
  width: 0.6em;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb {
  background: #1f4068;
  border: none;
}

.ace_scrollbar-v::-webkit-scrollbar-thumb:hover {
  background: #173458;
}

.ace_scrollbar-v::-webkit-scrollbar-track {
  background: transparent;
}
