*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style-type: none;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
header nav{
    position: fixed;
}
header nav{
    height: 60px;
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
    margin-right: 0.5rem;
}
.logo{
    font-size: 30px;
    font-weight: bold;
}
li>a{
    padding: 0.4rem 1.2rem;
    color: #333;
    font-weight: bold;
}
.active{
    position: relative;
}
.active::after{
    position: absolute;
    content: '';
    width: 0.4rem;
    height: 0.4rem;
    background: #333;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
}
section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
section:nth-child(even){
    background: rgb(240, 239, 239);
}

