@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
:root {
  --primary: #543434;
  --max-container: 1140px;
  --m-auto: 0 auto;
  --nav-height: 3rem;
  --black: rgb(6, 0, 32);
  --greay:rgb(255, 255, 255);
}
html {
  scroll-behavior: smooth;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: var(--max-container);
  width: 100%;
  margin: var(--m-auto);
}
.nav {
  display: flex;
  justify-content: space-between;
  height: var(--nav-height);
  align-items: center;
}
ul > li {
  display: inline-block;
  margin: 0 1rem;
  color: var(--black);
}
.home-contant {
  width: 100%;
  height: 100vh;
  background: url("https://images.pexels.com/photos/5377336/pexels-photo-5377336.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
    no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-contant::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(94, 93, 110, 0.151);
  z-index: 1;
  top: 0;
  left: 0;
}
.home-contant *{
    z-index: 4;
    color: var(--greay);
}
a {
  text-decoration: none;
}
.container{
    width: var(--max-container);
    margin: var(--m-auto);
    margin-top: 2rem;
}
.contant{
    width: 60%;
}
.img img{
    width: 300px;
    height: 300px;
}
.row{
    display: flex;
    align-items: center;
    gap: 1rem;
}