*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
:root{
    --heading1:3rem;
    --heading2:2rem;
    --heading3:1.6rem;
    --primary-color:;
}